/* Empty. Add your own CSS if you like */
#map {
	height: 100%;
}
.scroll{height: 100%;}

.profile-picture {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	height: 44px;
	width: 44px;
	padding: 0px 0px 5px 5px;
	display: inline-block;
}

.name-profile {
	display: inline-block;;
}

.profile-header {
	height: 90px;
}

.has-profile-header {
	top: 90px;
}

.details-icon {
	position: absolute;
	right: 10px;
	top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	font-size: 30px;
	margin-top: auto;
	margin-bottom: auto;
}

.opening-hours {
	padding-top: 5px;
	padding-bottom: 5px;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.details-row {
	padding: 0;
	margin-bottom: 0;
}

p.details-col {
	padding: 0;
	margin-bottom: 0;
}

p.details-col:last-child {
	text-align: right;
};

.homepage-btn {
	height: 40%;
}

.container{
    width:100%;
    height:100%;
}


.container > div{
    width:50%;
    height:50%;    
}
/*.container > div.active{
    width:100%;
    height:100%;
    z-index:10;
}*/

.button-home {
	margin: 5%;
	height: 90%;
	width: 90%;
	border: 10px solid black;
	border-radius: 10px;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */	
}
#one{float:right ;}
#two{float:left; }
#three{float: right; }
#four{float: left; }

.container-gondo {
	position: absolute;
	top:25%;
	left: 24%;
    background-color: transparent;
    z-index: 100;
}

.container-gondo > div {
	background-color: transparent;
}

.button-gondo {
	border-radius: 50%;	
	text-align: center;
	background-color: white;
}